.user_cont {
  background-color: gainsboro;
  display: flex;
  margin: 1% 25%;
  width: 50%;
  align-items: center;
  padding: 1%;
  border-radius: 10px;
}

.user_cont img {
  border-radius: 100%;
  width: 30%;
  margin-right: 5%;
}

.user_info {
  display: flex;
  flex-direction: column;
}